<%= simple_form_for(@blog, html: { class: "form-vertical" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, input_html: { class: "input-xxlarge" } %>
    <%= f.input :content, input_html: { class: "input-xxlarge" } %>
    <%= f.input :status, collection: Blog::STATUS, as: :radio_buttons %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
